/*body {margin: 0px; padding: 0px; width: 100%;}
*/
@font-face {
    font-family: 'JosefinSans-Light'; /*a name to be used later*/
    src: url('../font/josefin-sans/JosefinSans-Light.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'JosefinSans-Regular'; /*a name to be used later*/
    src: url('../font/josefin-sans/JosefinSans-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Oswald-DemiBold'; /*a name to be used later*/
    src: url('../font/oswald/Oswald-DemiBold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Oswald-Regular'; /*a name to be used later*/
    src: url('../font/oswald/Oswald-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'JosefinSans-Thin'; /*a name to be used later*/
    src: url('../font/josefin-sans/JosefinSans-Thin.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Oswald-ExtraLight'; /*a name to be used later*/
    src: url('../font/oswald/Oswald-ExtraLight.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'JosefinSans-Bold'; /*a name to be used later*/
    src: url('../font/josefin-sans/JosefinSans-Bold.ttf'); /*URL to font*/
}
#contain_head {height: 100%;}
#banner {width: 100%; z-index: -1; position: absolute;}
#banner img {width: 100%; height: 100%; position: fixed;}
#contain {background-color: white;}
#contain h1 {text-align: center; color: #990033; padding-top: 50px;}
.shape {width: 5%; border: 1px solid #990033; margin: auto;}
.cont { width: 70%; height: 250px; margin: auto;}
#cont2 { width: 70%; margin: auto; margin-top: 5%;height: 455px;}
.content p { color: #000000 ; font-size: 25px; text-align: center; padding-top: 30px; font-family:JosefinSans-Thin;}
#butto {width:10%; margin: auto;}
#butto button {color: #990033; background: #990033; border: 1px #990033 solid; border-radius: 4px; outline: none; padding: 5px 15px; color: white; font-family: JosefinSans-Thin; }
.cas { border-radius: 7px; width: 30%; border: 1px solid #990033; float: left; margin-left: 1%; height: 100%;}
.shape2 {border-radius: 999px; border: 1px solid #990033; width: 15%; height: 10%; margin-left: 43%; margin-top: 20px;}
.cas h2 {text-align: center; font-family:Oswald-ExtraLight; color: #00B2EE;}
.cas p {text-align: center; font-family:JosefinSans-Bold;}
#menu {position: absolute; margin-top: 30px; margin-left: 70%;}
#menu a {text-decoration:none; color: white; font-family: JosefinSans-Regular;  }
.sub {float: left; width: 100px; }
.sub p { text-align: center; font-size: 18px; }
#pic {margin-top: 20%; margin-left: 35%; color: white; width: 30%; position: absolute;  text-align: center; border: 3px solid white;}
#p1 {font-family: JosefinSans-Light; font-size: 40px;}
#p2{ font-family: Oswald-DemiBold; font-size: 50px; }
#p3 {font-family: Oswald-Regular; font-size: 30px;}
.content-row{ padding-top: 20px !important; padding-bottom: 20px !important; width: 70%; margin: auto !important;}
.product-item{ padding: 0px !important; padding-left: 1% !important; }
#contact { margin: 20px; opacity: 0.8; border-radius: 5px; background-color: #f2f2f2; padding: 20px; width: 80%;/* margin: auto; */background: white; font-family: JosefinSans-Thin; margin-top: 20px; float: left; }
input[type=text], select, textarea { color: black; width: 100%;  padding: 12px; border: 1px solid #990033; border-radius: 4px;box-sizing: border-box; /*view*/ margin-top: 6px; margin-bottom: 16px;resize: vertical; /*view*/}
#Contact_button{ margin-top: 20px; color: white; background-color: #990033; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; /*view*/}
.social-icon { margin-left: 10%; width: 70px; margin-top: 25px; float: left; }
.fa {padding: 20px; width: 70px; text-align: center; text-decoration: none !important;}
.fa-facebook{background:#3B5998; color: white; font-size: 30px !important;}
.fa-instagram {background: #125688; color: white; font-size: 30px !important;}
.fa-skype {background: #00aff0; color: white; font-size: 30px !important; }
.fa-google {background: #dd4b39; color: white; font-size: 30px !important; }
.fa-youtube {background: #bb0000; color: white; font-size: 30px !important;}
#contain-bottom {height: 50%;}
#button-top{float: right; display: none; position:fixed; border:none; outline: none; background-color: #990033;color: white; font-size: 18px; bottom: 20px; right: 30px; padding: 15px; border-radius: 6px;}
